.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  @media (max-width: 900px) {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
* {
  /* overflow: hidden; */
}
.AboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* padding-left: 17.7rem; */
  @media (max-width: 1000px) {
    padding-left: 0;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}
.AboutImgContainer {
  width: 60vw;

  @media (max-width: 1400px) {
    width: 100vw;
    margin-right: 0rem;
  }
}
.AboutInfo {
  width: 80vw;
  @media (max-width: 900px) {
    width: 90vw;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.AboutImgContainer > img {
  width: 100%;
  height: 35rem;
  scale: 0.75;
  border-radius: 10px;
  @media (max-width: 1400px) {
    height: 35rem;
    width: 100%;
    /* width: 60rem; */
  }
  /* clip-path: polygon(35% 14%, 100% 0, 97% 49%, 75% 95%, 15% 87%, 2% 50%); */
}
.AboutInfo > p {
  width: 33rem;
  padding-bottom: 1rem;
}
.AboutInfo > h1 {
  padding-bottom: 1rem;
}

.gridItemContainer {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 10px;

  @media (max-width: 1400px) {
    width: 60vw;
  }
  @media (max-width: 700px) {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.box1,
.box2,
.box3,
.box4 {
  /* background-color: blue; */
  width: 76%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.box2,
.box4 {
  padding-top: 1rem;
  margin-left: -7rem;
}
.AboutBtn {
  margin-top: 2rem;
}

.logo {
  height: 2rem;
  width: 2rem;
  color: rgb(224, 26, 171);
  margin-right: 1rem;
}
