.card1,
.card2,
.card3 {
  margin: 2rem 3rem;
  margin-bottom: 2rem;
  filter: drop-shadow(rgba(140, 140, 140, 0.444) 1rem 1rem 10px);
  display: grid;
  grid-template-columns: 20px 50px;
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(222, 222, 222);
  height: 100vh;

  @media (min-width: 400px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}
.cardGroup {
  width: 75.6rem;
  padding-bottom: 2rem;
}
.card_container {
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  /* background-color: rgb(222, 222, 222); */
  justify-content: center;
  align-items: center;
}

.contactMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.formContainer {
  height: 60vh;
  width: 70%;
  background-color: white;
  padding: 4rem;
  border: 1rem gray;
  border-radius: 10px;
}
.imgContainer > img {
  width: 31.8rem;
  border-radius: 10px;
  margin-left: 6rem;
}
.heading {
  align-items: center;
  color: rgb(224, 26, 171);
}
.contactMain {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
.cardtext {
  color: rgb(224, 26, 171);
}
